@charset "utf-8";
.edit th{
	min-width: 200px;
	text-align: right;
	margin: 3px 0;
}
.edit input,.edit select{
	margin: 5px 0;
}
#meetingAddIntro{
	border: 1px solid #edd3c0;
	width: 100%;
}
#meetingAddIntro th {
	border: 1px solid #edd3c0;
	min-width: 150px;
	text-align: center;
}
#meetingAddIntro td{
	border: 1px solid #edd3c0;
	text-align: left;
}
#userList label{
	margin-right: 15px;
}
.bright {
	color: red;
}